---
layout: default
title: UW LIS 861 &mdash; Information Architecture (Spring 2014)
---

<!DOCTYPE html>
<html>

  <head>
    <meta charset='utf-8' />
    <meta http-equiv="X-UA-Compatible" content="chrome=1" />
    <meta name="description" content="UW LIS 861 syllabus, etc." />

    <link rel="stylesheet" type="text/css" media="screen" href="../stylesheets/stylesheet.css">
    <link rel="stylesheet" type="text/css" media="screen" href="../stylesheets/custom_LIS_861_Spring_2014.css">
  </head>

  <body>

    <!-- HEADER -->
    <div id="header_wrap" class="outer">
        <header class="inner">
          <a id="forkme_banner" href="https://github.com/thatandromeda/courseware">View on GitHub</a>

          <h1 id="project_title">LIS 861: Information Architecture</h1>
          <h2 id="project_tagline">or: "Help, my organization has a web site! (and I might end up in charge of it)"</h2>

        </header>
    </div>

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">
      
{% include LIS_861_Spring_2014_welcome.html %}
{% include LIS_861_Spring_2014_contact.html %}
{% include LIS_861_Spring_2014_assignments.html %}

<h3>Week by Week</h3>

{% for post in site.posts reversed %}
  <div class="week" id="week{{ forloop.index }}">
    <a name="anchor{{ forloop.index }}"></a><h4 class="week_header"><span class="caret caret-up hidden">&#9660;&nbsp;</span><span class="caret hidden">&#9650;&nbsp;</span>{{ post.title }}</h4>
    <div class="weekly_content">
      {{ post.content }}
    </div>
  </div>
{% endfor %}

{% include LIS_861_Spring_2014_policies.html %}
{% include LIS_861_Spring_2014_objectives.html %}
{% include LIS_861_Spring_2014_bibliography.html %}

      </section>
    </div>

    <!-- FOOTER  -->
    <div id="footer_wrap" class="outer">
      <footer class="inner">
        <p class="copyright">Courseware maintained by <a href="https://github.com/thatandromeda">thatandromeda</a></p>
        <p>Published with <a href="http://pages.github.com">GitHub Pages</a></p>
      </footer>
    </div>

    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript">
      $(document).ready(function() {
        /* Non-js users should see everything fully expanded by default,
           and shouldn't see carets (since those would indicate actions they
           aren't able to perform). Therefore the default version of the page
           is expanded and un-caret-ed; users who have JS will get the
           streamlined, interactive version on document ready.
        */
        $('.week div').toggle();
        $('.week h4 span.caret-up').removeClass('hidden');
        
        /*
          Determine the current week by subtracting the starting date from
          today. This returns a value in milliseconds, so convert that to weeks.
          Use that to un-hide this week's content.
        */
        var today = new Date();
        var startDate = new Date(2014, 0, 20);
        var courseMilliseconds = today - startDate;
        var millisecondsPerWeek = 604800000;
        var currentWeek = Math.ceil(courseMilliseconds/millisecondsPerWeek);
        $('#week' + currentWeek + ' div.weekly_content').toggle();
        $('#week' + currentWeek + ' span.caret').toggleClass('hidden');

        $('h4.week_header').on("click", function() {
          $(this).siblings('div').slideToggle();
          $(this).children('span').toggleClass('hidden');
        });
      });
    </script>
  </body>
</html>
