<!-- APA format -->

<h3>Bibliography</h3>

<ul class="bibliography">
  <li>
    Adobe Systems Incorporated. (2014) <em>Adobe Kuler.</em>  Retrieved February 4, 2014 from 
    <a href="https://kuler.adobe.com/">https://kuler.adobe.com/</a>.
  </li>
  
  <li>
    <em>Bootstrap</em>  Retrieved February 10, 2014 from 
    <a href="http://getbootstrap.com/">http://getbootstrap.com/</a>.
  </li>

  <li>
    Allsopp, J. (2000, April 7) A Dao of Web Design. <em>A List Apart.</em>  Retrieved February 10, 2014 from 
    <a href="http://alistapart.com/article/dao">http://alistapart.com/article/dao</a>.
  </li>
  
  <li>
    Byron, A., Berry, A., & DeBondt, B. (2012). <em>Using Drupal</em>. 2nd ed. 
    Sebastopol, CA: O'Reilly.
  </li>
  
  <li>
    Carver, C. (2013, November 22.) Things I Wish Someone Had Told Me When I Was 
    Learning How to Code.  <em>Medium.com.</em>  Retrieved January 18, 2014 from 
    <a href="https://medium.com/learning-to-code/565fc9dcb329">
    https://medium.com/learning-to-code/565fc9dcb329</a>.
  </li>
  
  <li>
    Chimero, F. (2013, November) What Screens Want. <em>FrankChimero.com.</em>  Retrieved February 4, 2014 from 
    <a href="http://frankchimero.com/what-screens-want/">http://frankchimero.com/what-screens-want/</a>.
  </li>
  
  <li>
    Clark, J. (2013). <em>Building Mobile Library Applications</em> (THE TECH SET® 
    #12). Chicago: ALA TechSource.
  </li>

  <li>
    Colaluca, J. (2013) <em>design seeds.</em>  Retrieved February 4, 2014 from 
    <a href="http://design-seeds.com/">http://design-seeds.com/</a>.
  </li>
  
  <li>
    Goodman, A. (2013) The Done in WordPress series. <em>ALA TechSource Blog.</em> 
    Retrieved February 17, 2014 from <a href="http://www.alatechsource.org/wordpress">
    http://www.alatechsource.org/wordpress</a>.
  </li>
  
  <li>
    Goodman, A. (2014). <em>The Comparative Guide to WordPress in Libraries: A 
    LITA Guide</em>. Chicago: ALA TechSource.
  </li>
  
  <li>
    Google. (2014) <em>Google Fonts.</em>  Retrieved February 4, 2014 from 
    <a href="http://www.google.com/webfonts">http://www.google.com/webfonts</a>.
  </li>
  
  <li>
    Halvorson, K., & Rach, M. (2012). <em>Content Strategy for the Web</em>, 
    (2nd ed.). Berkeley, CA: New Riders.
  </li>
  
  <li>
    Hanson, C. W. (2011). Chapter 3: Mobile Solutions for Your Library. <em>Library 
    Technology Reports, 47(2)</em>, 24-31.
  </li>

  <li>
    Jones, K. M. L., & Farrington, P. (2011). Using WordPress as a Library Content 
    Management System. <em>Library Technology Reports, 47(3)</em>.
  </li>

  <li>
    Marcotte, E. (2010, May 25) Responsive Web Design. <em>A List Apart.</em>  
    Retrieved February 10, 2014 from 
    <a href="http://alistapart.com/article/responsive-web-design"http://alistapart.com/article/responsive-web-design</a>.
  </li>
  
  <li>
    McGrane, K. (2013, November 21) Responsive Design Won’t Fix Your Content Problem]. <em>A List Apart.</em>  Retrieved February 10, 2014 from 
    <a href="http://alistapart.com/column/responsive-design-wont-fix-your-content-problem">http://alistapart.com/column/responsive-design-wont-fix-your-content-problem</a>.
  </li>
  
  <li>
    Morville, P., & Rosenfeld, L. (2006). <em>Information architecture for the 
    World Wide Web</em>. 3rd ed. Sebastopol, Calif.: O'Reilly.
  </li>

  <li>
    Nelson, T. (1981). <em>Literary Machines: The report on, and of, Project 
    Xanadu concerning word processing, electronic publishing, hypertext, 
    thinkertoys, tomorrow's intellectual revolution, and certain other topics 
    including knowledge, education and freedom</em>. Sausalito, CA: Mindful Press.
  </li>

  <li>
    Norman, D. (2013). <em>The Design of Everyday Things: Revised and Expanded 
    Edition</em>, (3rd ed.). New York, NY: Basic Books.
  </li>
  
  <li>
    Pew Internet & American Life Project. (2013) <em>Cell Internet Use 2013</em>.
    Retrieved February 10, 2014 from <a href="http://pewinternet.org/Reports/2013/Cell-Internet.aspx">
    http://pewinternet.org/Reports/2013/Cell-Internet.aspx</a>.
  </li>

  <li>
    Pew Internet & American Life Project. (2013) <em>Smartphone Ownership 2013</em>.
    Retrieved February 10, 2014 from <a href="http://pewinternet.org/Reports/2013/Smartphone-Ownership-2013.aspx">
    http://pewinternet.org/Reports/2013/Smartphone-Ownership-2013.aspx</a>.
  </li>

  <li>
    Posner, M. (2011, November.) Useful CSS. <em>MiriamPosner.com.</em>  Retrieved 
    February 4, 2014 from 
    <a href="http://miriamposner.com/blog/wp-content/uploads/2011/11/usefulcss.pdf">
    http://miriamposner.com/blog/wp-content/uploads/2011/11/usefulcss.pdf</a>.
  </li>
  
  <li>
    Reidsma, M. (2012, April 25) Control Issues. <em>Matthew Reidsma.</em>  Retrieved February 10, 2014 from 
    <a href="hhttp://matthew.reidsrow.com/articles/19">http://matthew.reidsrow.com/articles/19</a>.
  </li>

  <li>
    Reidsma, M. (2012, June 25) Responsive Web Design for Libraries. <em>Matthew Reidsma.</em>  Retrieved February 10, 2014 from 
    <a href="hhttp://matthew.reidsrow.com/articles/23">http://matthew.reidsrow.com/articles/23</a>.
  </li>

  <li>
    Robson, E., & Freeman, E. (2006). <em>Head first HTML with CSS & XHTML.</em> 
    Sebastopol, Calif.: O'Reilly.
  </li>
  
  <li>
    Rutter, R. (2010) <em>The Elements of Typographic Style Applied
    to the Web.</em>  Retrieved February 4, 2014 from 
    <a href="http://webtypography.net/">http://webtypography.net/</a>.
  </li>
  
  <li>
    Schmidt, A., & Etches, A. (2012). <em>User Experience (UX) Design for 
    Libraries: (THE TECH SET® #18)</em>. Chicago: ALA Editions.
  </li>
  
  <li>
    Varnum, K. J. (2012). <em>Drupal in libraries</em>. Chicago: ALA TechSource.
  </li>
  
  <li>
    Veen, J. (2010) <em>Doing a Content Inventory (Or, A Mind-Numbingly Detailed 
    Odyssey Through Your Web Site).</em>  Retrieved February 17, 2014 from 
    <a href="http://www.adaptivepath.com/ideas/doing-content-inventory/">
    http://www.adaptivepath.com/ideas/doing-content-inventory/</a>.
  </li>
  
  <li>
    Williams, R. (2008). <em>The Non-Designer's Design Book</em>, (3rd ed.).
    Berkeley, CA: Peachpit Press.
  </li>

  <li>
    Zeldman, J. (2010). <em>Designing with Web Standards</em>, (2nd ed.).
    Berkeley, CA: New Riders.
  </li>
</ul>