<h3>Assignments</h3>

<p>
  Links will be added to detailed requirements as the semester progresses.
</p>

<table>
  <tr class="table_header">
    <td class="span50">
      Assignment
    </td>
    <td class="span25">
      % of final grade
    </td>
    <td class="span25">
      Due date
    </td>
  </tr>
  <tr>
    <td><a href="./assignments/web_site_version_1.html">Web site version 1.0</a></td><td>10</td><td>February 24</td>
  </tr>
  <tr>
    <td><a href="./assignments/accessibility_evaluation.html">Accessibility evaluation</a></td><td>15</td><td>April 21</td>
  </tr>
  <tr>
    <td>Web site version 2.0</td><td>15</td><td>April 28</td>
  </tr>
  <tr>
    <td>Final project...</td><td></td><td></td>
  </tr>
  <tr>
    <td class="table_indent"><a href="./assignments/one_pager.html">...one-pager</a></td><td>10</td><td>March 30</td>
  </tr>
  <tr>
    <td class="table_indent"><a href="./assignments/final_project.html">...final deliverable</a></td><td>35</td><td>May 16</td>
  </tr>
  <tr>
    <td><a href="./assignments/failure_assessment.html">Failure assessment</a></td><td>5</td><td>May 16</td>
  </tr>
  <tr>
    <td>Participation</td><td>15</td><td>Throughout</td>
  </tr>
</table>

<p>
  Final grade scale: 100-93.5 A; 93.4-89.5 AB; 89.4-83.5 B; 83.4-79.5 BC; 79.4-73.5 C and so on…
</p>