<!-- APA format -->

<h3>Bibliography</h3>

<ul class="bibliography">
<li>Carver, C. (2013, November 22.) Things I Wish Someone Had Told Me When I Was 
Learning How to Code.  <em>Medium.com.</em>  Retrieved January 18, 2014 from 
<a href="https://medium.com/learning-to-code/565fc9dcb329">
https://medium.com/learning-to-code/565fc9dcb329</a>.</li>

<li>Robson, E., & Freeman, E. (2006). <em>Head first HTML with CSS & XHTML.</em> 
Sebastopol, Calif.: O'Reilly.</li>
</ul>

<li>Robson, E., & Freeman, E. (2006). <em>Head first HTML with CSS & XHTML.</em> 
Sebastopol, Calif.: O'Reilly.</li>
</ul>

<li>Zeldman, J. (2010). <em>Designing with Web Standards</em>, (2nd ed.).
Berkeley, CA: New Riders.</li>