<h3>Program Level Learning Objectives</h3>

<p>
  This will be elaborated as assignments become available.
</p>

<table>
  <tr class="table_header">
    <td>
      LIS program level learning objective
    </td>
    <td>
      Course objectives
    </td>
    <td>
      Assignments that provide evidence
    </td>
    <td>
      Criteria for assessing evidence in the assignment
    </td>
  </tr>
  <tr>
    <td>
      3a. Students organize and describe print and digital information resources.
    </td>
    <td>
    </td>
    <td>
      Web site version 2.0, usability evaluation, final project
    </td>
    <td>
    </td>
  </tr>
  <tr>
    <td>
      3c. Students analyze information needs of diverse individuals and communities.
    </td>
    <td>
    </td>
    <td>
      Usability evaluation, final project
    </td>
    <td>
    </td>
  </tr>
  <tr>
    <td>
      3d. Students understand and use appropriate information technologies.
    </td>
    <td>
    </td>
    <td>
      Web site version 1.0, web site version 2.0, usability evaluation, final
      project
    </td>
    <td>
    </td>
  </tr>
  <tr>
    <td>
      4a. Students evaluate, problem solve and think critically, both individually and in teams.
    </td>
    <td>
    </td>
    <td>
      Usability evaluation, final project, failure assessment, participation
    </td>
    <td>
    </td>
  </tr>
  <tr>
    <td>
      4b. Students demonstrate good oral and written communication skills.
    </td>
    <td>
    </td>
    <td>
      All (particularly participation)
    </td>
    <td>
    </td>
  </tr>
  <tr>
    <td>
      4d.Students demonstrate innovation and skills necessary for leadership.
    </td>
    <td>
    </td>
    <td>
      Final project; optionally also the technical projects, depending on the
      degree of technical creativity and mastery shown
    </td>
    <td>
    </td>
  </tr>
</table>