<h3>Welcome and objectives</h3>

<p>
  Howdy and welcome! While this course is formally "Information Architecture",
  I think of it as "Help! My organization has a web site (and I might end up in
  charge of it)".
</p>

<p>
  In one semester, I can't hope to make you experts in all the things you might
  need to know to build and manage a web site &mdash; especially since it's
  always changing! However, you will know what domains you'll need to learn more
  about if you find yourself running a real-world web site; the vocabulary for 
  talking with domain experts; and where to go to learn more.
</p>

<p>
  This course addresses UW SLIS <a href="http://www.slis.wisc.edu/ProgramLevel_LOs.htm">
  program level learning objectives</a> 3a, 3c, 3d, 4a, 4b, and 4d.  For details, 
  see the table in the Program Level Learning Objectives section, below.
</p>