<!-- APA format -->

<h3>Course policies</h3>

<p class="bold_red">
  I wish to fully include persons with disabilities in this course. Please let me 
  know within two weeks if you require accommodation. I will try to maintain the 
  conﬁdentiality of this information.
</p>

<h4>Academic honesty</h4>
<p>
  I follow the academic standards for cheating and plagiarism set forth by the 
  University of Wisconsin.
</p>

<p>
  I consider myself personally bound by the 
  <a href="http://www.hmc.edu/studentlife1/honorcode.html">honor code of my 
  undergraduate college</a>, which states that I am "responsible for maintaining 
  [my] integrity and the integrity of the college community in all academic 
  matters and in all affairs concerning the community."  While you are not bound 
  by this, I encourage you to act in a way that reflects well on yourself and the
  institutions you represent.
</p>

<h4>Be the protagonist of your own technology adventure</h4>

<p>
  An explicit goal of this course is self-suﬃciency in acquiring knowledge about 
  novel technology. To that end, I will NOT handhold you through every technology 
  we look at. You are expected to exhaust normal information channels (google,
  documentation and help menus for software, trial and error, etc.) before you 
  approach classmates or (especially) me with nuts-and-bolts technology 
  questions.
</p>

<p>
  Because we come to this class with a wide range of technology backgrounds, you
  may find some of the course material is not novel for you.  I encourage you
  to approach me with alternative assignment proposals that will push the 
  boundaries of <em>your</em> technology skills.  I am happy to suggest things
  you might wish to learn next, based on where you are now.
</p>

<h4>Assignments</h4>

<p>
  Our course week, for convenience, runs from Monday to Monday beginning January 
  21 (so the ﬁrst week is a day short). All assignments will be due on Mondays by 
  midnight Central, with the exception of the assignments due immediately before
  spring break and during finals week; these are due on Friday. Late assignments 
  will be penalized one ﬁnal-grade percentage point per day or fraction thereof 
  late.  If some catastrophe befalls you and you must negotiate alternatives, 
  contact me <em>before the due date</em>; lenience is at my sole discretion.
<p>

<p>
  If this catastrophe affects your group project, <em>contact your colleagues as
  well</em>.
</p>

<p>
  I do not offer extra credit.
</p>