<!-- APA format -->

<h3>Bibliography</h3>

<ul class="bibliography">
  <li>
    Adobe Systems Incorporated. (2014) <em>Adobe Kuler.</em>  Retrieved February 4, 2014 from 
    <a href="https://kuler.adobe.com/">https://kuler.adobe.com/</a>.
  </li>
  
  <li>
    <em>Bootstrap</em>  Retrieved February 10, 2014 from 
    <a href="http://getbootstrap.com/">http://getbootstrap.com/</a>.
  </li>

  <li>
    Allsopp, J. (2000, April 7) A Dao of Web Design. <em>A List Apart.</em>  Retrieved February 10, 2014 from 
    <a href="http://alistapart.com/article/dao">http://alistapart.com/article/dao</a>.
  </li>
  
  <li>
    Brignull, H. (2011, November 1) Dark Patterns: Deception vs. Honesty in UI Design. <em>A List Apart.</em>  
    Retrieved April 1, 2014 from 
    <a href="http://alistapart.com/article/dark-patterns-deception-vs.-honesty-in-ui-design">http://alistapart.com/article/dark-patterns-deception-vs.-honesty-in-ui-design</a>.
  </li>
  
  <li>
    Byron, A., Berry, A., & DeBondt, B. (2012). <em>Using Drupal</em>. 2nd ed. 
    Sebastopol, CA: O'Reilly.
  </li>
  
  <li>
    Carver, C. (2013, November 22.) Things I Wish Someone Had Told Me When I Was 
    Learning How to Code.  <em>Medium.com.</em>  Retrieved January 18, 2014 from 
    <a href="https://medium.com/learning-to-code/565fc9dcb329">
    https://medium.com/learning-to-code/565fc9dcb329</a>.
  </li>
  
  <li>
    Chimero, F. (2013, November) What Screens Want. <em>FrankChimero.com.</em>  Retrieved February 4, 2014 from 
    <a href="http://frankchimero.com/what-screens-want/">http://frankchimero.com/what-screens-want/</a>.
  </li>
  
  <li>
    Clark, J. (2013). <em>Building Mobile Library Applications</em> (THE TECH SET® 
    #12). Chicago: ALA TechSource.
  </li>

  <li>
    Colaluca, J. (2013) <em>design seeds.</em>  Retrieved February 4, 2014 from 
    <a href="http://design-seeds.com/">http://design-seeds.com/</a>.
  </li>
  
  <li>
    Cooper, A. (1999). <em>The inmates are running the asylum.</em> Indianapolis,
    IN: Sams.
  </li>
  
  <li>
    Gelman, D. L. (2011, February 8) Designing Web Registration Processes for Kids. 
    <em>A List Apart.</em> Retrieved April 1, 2014 from 
    <a href="http://alistapart.com/article/designing-web-registration-forms-for-kids">http://alistapart.com/article/designing-web-registration-forms-for-kids</a>.
  </li>
  
  <li>
    Goodman, A. (2013) The Done in WordPress series. <em>ALA TechSource Blog.</em> 
    Retrieved February 17, 2014 from <a href="http://www.alatechsource.org/wordpress">
    http://www.alatechsource.org/wordpress</a>.
  </li>
  
  <li>
    Goodman, A. (2014). <em>The Comparative Guide to WordPress in Libraries: A 
    LITA Guide</em>. Chicago: ALA TechSource.
  </li>
  
  <li>
    Google. (2014) <em>Google Fonts.</em>  Retrieved February 4, 2014 from 
    <a href="http://www.google.com/webfonts">http://www.google.com/webfonts</a>.
  </li>
  
  <li>
    Halvorson, K., & Rach, M. (2012). <em>Content Strategy for the Web</em>, 
    (2nd ed.). Berkeley, CA: New Riders.
  </li>
  
  <li>
    Hanson, C. W. (2011). Chapter 3: Mobile Solutions for Your Library. <em>Library 
    Technology Reports, 47(2)</em>, 24-31.
  </li>
  
  <li>
    Hess, W. (2009). DIY UX: Give Your Users an Upgrade (Without Calling In a Pro). 
    [PowerPoint slides]. Retrieved March 24, 2014 from 
    <a href="http://www.slideshare.net/whitneyhess/diy-ux">http://www.slideshare.net/whitneyhess/diy-ux</a>.
  </li>
  
  <li>
     Hill, N. (n.d.). DPLA Use Cases. <em>natehill.net</em>. Retrieved April 1, 
     2014, from <a href="http://natehill.net/dplausecases/">http://natehill.net/dplausecases/</a>.
  </li>

  <li>
    Jones, K. M. L., & Farrington, P. (2011). Using WordPress as a Library Content 
    Management System. <em>Library Technology Reports, 47(3)</em>.
  </li>
  
  <li>
    Krug, S. (2006). <em>Don't make me think! : a common sense approach to Web 
    usability.</em> 2nd ed. Berkeley, Calif: New Riders Pub.  (This is the 
    edition available at the UW library, but the 3rd edition is also fine, and
    has the same chapter numbering for the ones we will be reading.)
  </li>
  
  <li>
    Kupersmith, John. (2012). Library Terms That Users Understand. UC Berkeley: UC 
    Berkeley Library. Retrieved March 23, 2014 from: <a href="http://escholarship.org/uc/item/3qq499w7">http://escholarship.org/uc/item/3qq499w7</a>
  </li>

  <li>
    Loranger, H., & Nielsen, J. (2013, February 3) Teenage Usability: Designing 
    Teen-Targeted Websites. <em>NN/g Nielsen Norman Group</em>  
    Retrieved April 1, 2014 from 
    <a href="http://www.nngroup.com/articles/usability-of-websites-for-teenagers/">http://www.nngroup.com/articles/usability-of-websites-for-teenagers/</a>.
  </li>
  
  <li>
    Marcotte, E. (2010, May 25) Responsive Web Design. <em>A List Apart.</em>  
    Retrieved February 10, 2014 from 
    <a href="http://alistapart.com/article/responsive-web-design">http://alistapart.com/article/responsive-web-design</a>.
  </li>
  
  <li>
    McGrane, K. (2013, November 21) Responsive Design Won’t Fix Your Content Problem]. <em>A List Apart.</em>  Retrieved February 10, 2014 from 
    <a href="http://alistapart.com/column/responsive-design-wont-fix-your-content-problem">http://alistapart.com/column/responsive-design-wont-fix-your-content-problem</a>.
  </li>
  
  <li>
    Morville, P., & Rosenfeld, L. (2006). <em>Information architecture for the 
    World Wide Web</em>. 3rd ed. Sebastopol, Calif.: O'Reilly.
  </li>

  <li>
    Nelson, T. (1981). <em>Literary Machines: The report on, and of, Project 
    Xanadu concerning word processing, electronic publishing, hypertext, 
    thinkertoys, tomorrow's intellectual revolution, and certain other topics 
    including knowledge, education and freedom</em>. Sausalito, CA: Mindful Press.
  </li>
  
  <li>
    Nicol, E. C. & O'English, M. (2012). Rising Tides: Faculty Expectations of 
    Library Websites. <em>portal: Libraries and the Academy</em> 12(4), 371-386. 
    The Johns Hopkins University Press. Retrieved April 1, 2014, from Project MUSE 
    database.
  </li>

  <li>
    Nielsen, J. (2010, September 13) Children's Websites: Usability Issues in 
    Designing for Kids. <em>NN/g Nielsen Norman Group</em> Retrieved April 1, 2014 
    from <a href="http://www.nngroup.com/articles/childrens-websites-usability-issues/">http://www.nngroup.com/articles/childrens-websites-usability-issues/</a>.
  </li>
  
  <li>
    Norman, D. (2013). <em>The Design of Everyday Things: Revised and Expanded 
    Edition</em>, (3rd ed.). New York, NY: Basic Books.
  </li>
  
  <li>
    Pew Internet & American Life Project. (2013) <em>Cell Internet Use 2013</em>.
    Retrieved February 10, 2014 from <a href="http://pewinternet.org/Reports/2013/Cell-Internet.aspx">
    http://pewinternet.org/Reports/2013/Cell-Internet.aspx</a>.
  </li>

  <li>
    Pew Internet & American Life Project. (2013) <em>Smartphone Ownership 2013</em>.
    Retrieved February 10, 2014 from <a href="http://pewinternet.org/Reports/2013/Smartphone-Ownership-2013.aspx">
    http://pewinternet.org/Reports/2013/Smartphone-Ownership-2013.aspx</a>.
  </li>

  <li>
    Posner, M. (2011, November.) Useful CSS. <em>MiriamPosner.com.</em>  Retrieved 
    February 4, 2014 from 
    <a href="http://miriamposner.com/blog/wp-content/uploads/2011/11/usefulcss.pdf">
    http://miriamposner.com/blog/wp-content/uploads/2011/11/usefulcss.pdf</a>.
  </li>
  
  <li>
    Reidsma, M. (2012, March 19) Your Library Website Stinks and It's Your Fault. 
    <em>Matthew Reidsma.</em> Retrieved March 23, 2014 from 
    <a href="http://matthew.reidsrow.com/articles/16">http://matthew.reidsrow.com/articles/16</a>.
  </li>
  
  <li>
    Reidsma, M. (2012, April 25) Control Issues. <em>Matthew Reidsma.</em>  Retrieved February 10, 2014 from 
    <a href="http://matthew.reidsrow.com/articles/19">http://matthew.reidsrow.com/articles/19</a>.
  </li>

  <li>
    Reidsma, M. (2012, June 25) Responsive Web Design for Libraries. <em>Matthew Reidsma.</em>  Retrieved February 10, 2014 from 
    <a href="http://matthew.reidsrow.com/articles/23">http://matthew.reidsrow.com/articles/23</a>.
  </li>

  <li>
    Robson, E., & Freeman, E. (2006). <em>Head first HTML with CSS & XHTML.</em> 
    Sebastopol, Calif.: O'Reilly.
  </li>
  
  <li>
    Rohrer, C. (2008, October 6) When to Use Which User Experience Research 
    Methods. <em>NN/g Nielsen Norman Group</em> Retrieved April 1, 2014 from 
    <a href="http://www.nngroup.com/articles/which-ux-research-methods/">http://www.nngroup.com/articles/which-ux-research-methods/</a>.
  </li>
  
  <li>
    Rutter, R. (2010) <em>The Elements of Typographic Style Applied
    to the Web.</em>  Retrieved February 4, 2014 from 
    <a href="http://webtypography.net/">http://webtypography.net/</a>.
  </li>
  
  <li>
    Scenarios. (n.d.). In <em>DPLA wiki</em>. Retrieved April 1, 2014, from 
    <a href="http://dp.la/wiki/Scenarios">http://dp.la/wiki/Scenarios</a>.
  </li>
  
  <li>
    Schade, A. (2014, March 2) Designing for 5 Types of E-Commerce Shoppers. 
    <em>NN/g Nielsen Norman Group</em>  
    Retrieved April 1, 2014 from 
    <a href="http://www.nngroup.com/articles/ecommerce-shoppers/">http://www.nngroup.com/articles/ecommerce-shoppers/</a>.
  </li>
  
  <li>
    Schmidt, A. (2013, September 24) Catalog by Design. <em>Walking Paper.</em>  
    Retrieved March 23, 2014 from 
    <a href="http://www.walkingpaper.org/5979">http://www.walkingpaper.org/5979</a>.
  </li>
  
  <li>
    Schmidt, A., & Etches, A. (2012). <em>User Experience (UX) Design for 
    Libraries: (THE TECH SET® #18)</em>. Chicago: ALA Editions.
  </li>
  
  <li>
    Usborne, N. (2005, November 8) Design Choices Can Cripple a Website. <em>A List Apart.</em>  
    Retrieved March 23, 2014 from 
    <a href="http://alistapart.com/article/designcancripple">http://alistapart.com/article/designcancripple</a>.
  </li>
  
  <li>
    Varnum, K. J. (2012). <em>Drupal in libraries</em>. Chicago: ALA TechSource.
  </li>
  
  <li>
    Veen, J. (2010) <em>Doing a Content Inventory (Or, A Mind-Numbingly Detailed 
    Odyssey Through Your Web Site).</em>  Retrieved February 17, 2014 from 
    <a href="http://www.adaptivepath.com/ideas/doing-content-inventory/">
    http://www.adaptivepath.com/ideas/doing-content-inventory/</a>.
  </li>
  
  <li>
    Vilhauer, C. (2012, Februrary 28) Audiences, Outcomes, and Determining User 
    Needs. <em>A List Apart.</em>  
    Retrieved April 1, 2014 from 
    <a href="http://alistapart.com/article/audiences-outcomes-and-determining-user-needs">http://alistapart.com/article/audiences-outcomes-and-determining-user-needs</a>.
  </li>
  
  <li>
    Williams, M. (2013, August 9) User Experience vs. the World. <em>New Jack Librarian.</em>  
    Retrieved March 23, 2014 from 
    <a href="http://librarian.newjackalmanac.ca/2013/08/user-experience-vs-world.html">http://librarian.newjackalmanac.ca/2013/08/user-experience-vs-world.html</a>.
  </li>
  
  <li>
    Williams, R. (2008). <em>The Non-Designer's Design Book</em>, (3rd ed.).
    Berkeley, CA: Peachpit Press.
  </li>

  <li>
    Zeldman, J. (2010). <em>Designing with Web Standards</em>, (2nd ed.).
    Berkeley, CA: New Riders.
  </li>
</ul>